@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("mockup-podium-product-presentation-podium-with-cube-blue-background-3d-rendering.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  // // Scroll Snap
  // scroll-snap-type: y proximity;
  overflow-y: scroll;
  display: grid;
  grid-template: ". main ." auto / 1fr 3fr 1fr;
}
.glass-background {
  grid-area: main;
  min-width: 18rem;
  // Glass effect
  background: rgba(255, 255, 255, 0.2); // 透明
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px); // 毛玻璃
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

$gap-size: 0.5rem;
$padding-size: 0.5rem;
$font-size: 0.8rem;
$transition-time: 0.25s;
.card {
  width: 100%;
  min-height: 100vh;
  // Where to snap to
  // scroll-snap-align: start;
  font-size: $font-size;

  &.introduction {
    border: 2px solid hotpink;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: $padding-size;
    row-gap: $gap-size;

    .picture {
      // border: 2px solid rgb(123, 255, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 10em;
      height: 10em;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 20em;
        margin-top: 1em;
      }
    }
    .name {
      // border: 2px solid rgb(82, 170, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      font-size: 2em;
    }
    .info {
      // border: 2px solid rgb(28, 58, 0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      row-gap: $gap-size;
      .info2 {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
  &.project-container {
    border: 2px solid aqua;
    height: 100vh;
    display: grid;
    grid-template:
      "skill-title" 0.5fr
      "buttons" 0.25fr
      "skills" auto
      "projects" 4.5fr;
    padding-inline: 0.5em;
    .buttons {
      grid-area: buttons;
      // border: 2px solid rgb(255, 102, 0);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-bottom: 2px solid rgb(0, 0, 0, 0.5);
      padding-bottom: 1em;
      button {
        font-size: clamp(1.2em, 5vw, 1.5em);
        background-color: transparent;
        padding: 0.25em;
        border: none;
        border-radius: 0.25em;
        cursor: pointer;
        &:hover,
        &.active {
          background-color: rgb(255, 255, 255, 0.5);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
        }
        &.active {
          font-weight: 500;
        }
        transition: 0.1s;
      }
    }
    .skills {
      grid-area: skill-title;
      // border: 2px solid rgb(158, 63, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(1.8em, 5vw, 2em);
      font-weight: bold;
      letter-spacing: 0.1em;
    }
    .tools {
      grid-area: skills;
      // border: 2px solid rgb(82, 33, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: clamp(1.2em, 4.5vw, 1.5em);
      letter-spacing: 0.1em;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid rgb(0, 0, 0, 0.5);
      // hide
      transform: scale(0);
      &.active {
        transform: scale(1);
        transition: $transition-time;
      }
    }
    .projects {
      grid-area: projects;
      // border: 2px solid rgb(0, 0, 0);
      display: grid;
      align-items: center;
      // PC version
      grid-template-rows: repeat(2, 49%);
      grid-auto-flow: column;
      grid-auto-columns: 40em;
      padding: $padding-size;
      gap: $padding-size;
      overflow: auto;
      overscroll-behavior: none;
      // hide
      transform: scale(0);
      &.active {
        transform: scale(1);
        transition: $transition-time;
      }
    }
  }
  &.awards {
    border: 2px solid rgb(255, 102, 0);
    height: 100vh;
    padding-bottom: 1em;
    display: grid;
    grid-template:
      ". title ." 1fr
      ". awards ." 3fr / 0.5fr 3fr 0.5fr;
    .title {
      grid-area: title;
      display: flex;
      align-items: center;
      justify-content: center;
      &.head {
        font-size: clamp(2.5em, 5vw, 3em);
        font-weight: bold;
      }
    }
    .awards {
      grid-area: awards;
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: 13em;
      height: 100%;
      gap: 1em;
      overflow-y: scroll;
      overscroll-behavior: none;
    }
  }
}
.project {
  background-color: rgb(255, 255, 255, 0.5);
  padding: $padding-size;
  border-radius: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  .abstract {
    display: -webkit-box;
    -webkit-line-clamp: 5; // PC
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 100%;
  }
  .title {
    font-weight: bold;
  }
  button {
    background-color: transparent;
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
    font-weight: bold;
  }
}
@media (max-width: 1000px) {
  .card {
    &.project-container {
      .projects {
        // mobile version
        grid-template-columns: 100%;
        grid-template-rows: none; // override
        grid-auto-flow: row; // override
        grid-auto-rows: 20em;
        .project {
          .abstract {
            -webkit-line-clamp: 9; // override
          }
        }
      }
    }
  }
}
